<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
         <feature>managedBeans-1.0</feature>
         <feature>websocket-1.1</feature>
         <feature>jaxrs-2.1</feature>
         <feature>cdi-2.0</feature>
         <feature>mpMetrics-2.0</feature>
         <feature>monitor-1.0</feature>
    </featureManager>
    <mpMetrics authentication="false"/>
    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="80"
                  httpsPort="493" />

    <remoteIp proxies="" useRemoteIpInAccessLog="false"/>


    <!-- Compile acmeair from: https://github.com/blueperf/acmeair-monolithic-java  -->
    <!-- Be careful with dates in com.acmeair.web.FlightsREST.java -->
    <!-- Could be necessary to update Api params from Date to String and make all necessary changes -->
    <!--
      DateFormat dateFormat = new SimpleDateFormat("EEE. MMM. d HH:mm:ss zzz yyyy");
      Date parsedDate = dateFormat.parse(fromDate);
    -->
    <application
        id="acmeair-webapp"
        name="acmeair-webapp"
        type="war"
        location="acmeair-webapp-2.0.0-SNAPSHOT.war">
    </application>

    <logging
      traceFilename="${LOG_DIR}/flights"
      traceSpecification="*=info"/>

    <jndiEntry jndiName="com/acmeair/repository/type" value="mongo"/>
    <executor
        name="LargeThreadPool"
        id="default"
        coreThreads="${CORE_THREADS}"
        maxThreads="${MAX_THREADS}"
        keepAlive="60s"
        stealPolicy="LOCAL"
        rejectedWorkPolicy="CALLER_RUNS"/>

    <httpOptions
      persistTimeout="${PERSIST_TIMEOUT}"
      maxKeepAliveRequests="${MAX_KEEP_ALIVE_REQUESTS}"/>
  </server>

